<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index Page</h1>
    <h3>  <a href="/sign-up">sign up</a></h3> 
    <h3><a href="/login-user"> login</a></h3> 
    <h3> <a href="/album">list all albums</a></h3> 
    <h3> <a href="/artist">list all artist</a></h3> 
    <h3> <a href="/logout-user">log out</a></h3> 
</body>
</html>